/* CSS untuk styling */
body {
    display: grid;
    place-items: center;
    height: 100vh;
              font-family: Arial, sans-serif;
              margin: 0;
              padding: 0;
              background-color: #f0f0f0;
              transition: background-color 0.3s ease;
          }
          .container {
              max-width: 800px;
              margin: 20px auto;
              background-color: #fff;
              padding: 20px;
              border-radius: 8px;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              transition: box-shadow 0.3s ease;
              position: relative; /* Tambahkan position relative */
          }
          h1 {
              text-align: center;
              color: #333;
          }
          .content {
              margin-top: 20px;
              opacity: 0;
              transition: opacity 0.3s ease;
              position: relative;
          }
          .quote {
              margin-bottom: 30px;
              transition: opacity 1.3s ease-in-out;
          }
          .quote img {
              max-width: 100%;
              border-radius: 8px;
          }
          .quote h2 {
              color: #333;
              font-size: 24px;
              margin-bottom: 10px;
          }
          .quote p {
              color: #666;
          }
          .fade-out {
          opacity: 0;
          }
          .tabs {
              display: flex;
              justify-content: center;
              margin-bottom: 20px;
          }
          .tab {
              cursor: pointer;
              margin: 0 10px;
              padding: 10px 20px;
              border-radius: 5px;
              background-color: #ccc;
              transition: background-color 0.3s ease;
          }
          .tab.active {
              background-color: #999;
          }
          .nav-buttons {
              position: absolute;
              top: 50px; /* Pindahkan ke bawah kontainer kutipan */
              left: 50%;
              transform: translateX(-50%);
              display: flex; /* Tambahkan display flex untuk menyatukan tombol */
              justify-content: space-between; /* Memastikan tombol berada di ujung kontainer */
              width: 100%; /* Lebar kontainer tombol */
              padding: 0 20px; /* Padding untuk tata letak tombol */
              box-sizing: border-box; /* Pastikan padding tidak memperbesar lebar kontainer */
          }
          .nav-buttons button {
              cursor: pointer;
              padding: 10px 20px;
              border: none;
              border-radius: 5px;
              background-color: #ccc;
              margin: 0 10px;
              transition: background-color 0.3s ease;
          }
          .nav-buttons button:hover {
              background-color: #999;
          }